/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/

node_modules/
cljs-runtime/
js/
*.iml
*.jar
*.js.map
*.class
.cpcache
.cljs-cache
.shadow-cljs
.cljs-repl
.cljs_node_repl
.DS_Store
yarn.lock
package-lock.json
/package.json

resources/public/blog.html
resources/public/images/*
doc/*.pdf
doc/*.psd
todo.org